
/* animation  */

.animationonhover{
    animation: glow-hover 0.5s infinite alternate;
}

.attention{
    animation: inside-outside 2s infinite ;
}

@keyframes glow-hover {
    0% { box-shadow: 0 0 10px rgba(18, 77, 204, 0.8); }
    100% { box-shadow: 0 0 30px rgb(216, 219, 207); }
  }

@keyframes inside-outside {
    0%{
        transform: scale(75%);
    }
    100%{
        transform: scale(100%);
    }
    
}